.contact_container{
  grid-template-columns: 4fr 8fr;
}

.contact_title{
  font-size: var(--h3-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 1rem;
}

.contact_description{
  font-style: var(--small-font-size);
  line-height: 1.6;
}

.contact_description, .contact_info .info_item{
  margin-bottom: 20px;
}

.contact_info .info_item{
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.contact_info .info_icon{
  color: var(--first-color);
  font-style: var(--h2-font-size);
}

.contact_info .info_title{
  font-style: var(--small-font-size);
}

.contact_info .info_desc{
  font-family: var(--body-font);
  font-style: var(--small-font-size);
  font-weight: var(--weight-500);
}

.contact_socials{
  display: flex;
  column-gap: 16px;
}

.contact_social_link{
  background-color: var(--container-color);
  color: var(--title-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease;
}

.contact_social_link:hover{
  background-color: var(--first-color);
  color: var(--text-white);
}

.form_input_group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.form_input_div{
  margin-bottom: 30px;
}

.form_control{
  border: 1px solid var(--container-color);
  background-color: var(--container-color);
  color: var(--title-color);
  width: 100%;
  padding: 12px 24px;
  border-radius: 30px;
  font-style: var(--small-font-size);
  transition: all 0.3s ease;
}

.form_control:focus{
  border-color: var(--first-color);
}

.textarea{
  resize: none;
  height: 160px;
}

.conact_button_icon{
  font-style: var(--h3-font-size);
  line-height: 64px;
}

.phone_input_container .flag-dropdown {
  border-radius: 30px 0 0 30px; 
  border: none;
  background-color: var(--container-color);
}

.phone_input_container .phone_button:hover{
border-radius: 30px 0 0 30px !important;
}

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus{
  background-color: var(--container-color) !important;
  border-radius: 30px 0 0 30px;
}

.phone_input:focus{
  border: 1px solid var(--first-color) !important;
}

.selected-flag:focus{
  border: 1px solid var(--first-color);
}
