.style_switcher{
  position: fixed;
  left: 0;
  top: 10%;
  background-color: var(--text-white);
  width: 220px;
  padding: 15px;
  box-shadow: 0, 0, 4px hsl(0, 0%, 80%);
  z-index: 10;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.show-switcher{
  transform: translateX(0%);
}

.style_switcher, .style_switcher_toggler, .theme_toggler{
  border-radius: 5px;
}

.style_switcher_items{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4px;
  row-gap: 8px;
}

.style_switcher_title, .style_switcher_toggler, .theme_toggler, .style_switcher_close{
  color: hsl(0, 0%, 40%);
}

.style_switcher_title{
  font-style: var(--small-font-size);
  font-weight: var(--weight-600);
  border-bottom: 1px solid hsl(0, 0%, 87%);
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.theme_img{
  width: 30px;
  cursor: pointer;
}

.style_switcher_toggler, .theme_toggler{
  position: absolute;
  left: 585%;
  top: -43px;
  background-color: #4d36a5;
  height: 38px;
  width: 38px;
  font-style: var(--large-font-size);
  cursor: pointer;
  display: grid;
  place-items: center;
  color: #fff;
  /* box-shadow: 0 0 2px hsl(0, 0%, 80%); */
  transition: all 0.3s ease;
}

.show-switcher .style_switcher_toggler, .show-switcher .theme_toggler{
  left: -100%;
}

.style_switcher_toggler{
  top: 10%;
}

.theme_toggler{
  bottom: 10%;
}

.style_switcher_close{
  cursor: pointer;
  font-style: var(--h2-font-size);
  position: absolute;
  top: 2%;
  right: 15px;
}